<html>
<script>
    function showUpdate() {
        console.log('button clicked')
        if (document.getElementById("update-location").style.display === "none") {
            document.getElementById("update-location").style.display = "block";

            console.log('none');
        }
        else {
            document.getElementById("update-location").style.display = "none";

        }
    }
    function showDelete() {
        console.log('button clicked')
        if (document.getElementById("delete-location").style.display === "none") {
            document.getElementById("delete-location").style.display = "block";

            console.log('none');
        }
        else {
            document.getElementById("delete-location").style.display = "none";

        }
    }
    function addLocation() {
        console.log('button clicked')
        if (document.getElementById("add-location").style.display === "none") {
            document.getElementById("add-location").style.display = "block";

            console.log('none');
        }
        else {
            document.getElementById("add-location").style.display = "none";

        }
    }
</script>
<style>
    table {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    form {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }

    h1 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }

    h2 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    h4 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 0%;
    }

    label {
        text-align: center;
    }


    input {
        text-align: center;
    }

    body {
        background-color: mintcream;
        border: 1pt solid black
    }

    div {
        text-align: center;
    }
</style>

<head>
    <div align="center" style=" padding-bottom: 10pt; padding-top: 10pt; width:50%; margin-right:25%; margin-left:25%">
        <a href="index.html">Home Page</a>
        <a href="locations.html">Locations</a>
        <a href="customers.html">Customers</a>
        <a href="vendors.html">Vendors</a>
        <a href="events.html">Events</a>
        <a href="Customer_Memberships.html">Customer Memberships</a>
        <a href="vendor_locations.html">Vendor Locations</a>
    </div>

</head>

<body>
    <h1>Locations Page</h1>

    <h4> Browse Locations </h4>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button onclick="showUpdate()">Edit</button></td>
                <td><button onClick="showDelete()">Delete</button></td>
                <td>1</td>
                <td>Austin North</td>
                <td>12345 Inwood Road, Austin, TX, 75001it</td>
                <td>972-308-111</td>
                <td>True</td>
            </tr>
            </thead>
        </tbody>
    </table>
    <div style="padding-top:25px"> <button align='center' onClick="addLocation()">Add Event</button>
    </div>
    <form style="padding-top:50px; display: none;" id="add-location">
        <legend><strong>Add Location</strong></legend>
        <fieldset class="fields">
            <label for="add-name"> Name </label><br /><input id='add-name' type="text"><br /><br />
            <label> Address </label><br /><input type="text"><br /><br />
            <label> Phone </label> <br /><input type="text"><br /><br />
            <label> Active </label> <br /><input type="checkbox"><br /><br />
            <input type="submit" value="Add Location">
            <input type="button" value="cancel">
        </fieldset>

    </form>

    <form style="padding-top:50px; display: none;" id="update-location">
        <legend><strong>Update Location</strong></legend>
        <fieldset class="fields">
            <label> Name </label> <br /><input type="text" value="Austin North"><br /><br />
            <label> Phone </label> <br /><input type="text" value="972-308-111"><br /><br />
            <label> Address </label> <br /><input type="text" value="12345 Inwood Road, Austin, TX, 75001"><br /><br />
            <label> Active </label><br /> <input type="checkbox" checked><br /><br />
        </fieldset>
        <input type="submit" value="Update Location">
        <input type="button" value="cancel">
        </fieldset>

    </form>

    <form style="padding-top:50px; display: none" id="delete-locaton">
        <legend><strong>Delete Location</strong></legend>
        <fieldset class="fields">
            <label> <b>ID</b> </label> <br /><input type="number" value=1><br /><br />
            <label> Name </label><br /> <input type="text" value="Austin North"><br /><br />
            <input type="submit" value="Delete Location">
            <input type="button" value="cancel">
        </fieldset>
    </form>
</body>

</html>